body {
     margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    
  }

  .top-bar {
    background-color: #1CD1B0;
    color: #000;
    padding: 5px 25px;
    font-size: 15px;
    margin: 0px;
  }
  header {
    background-color: #00669F;
    color: black;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }

  main {
    display: flex;
    flex-wrap: wrap;/*mantener box1 sin redimensionar*/
    justify-content: center;
    gap: 20px;
    margin: 35px auto;
    
    /*max-width: 1000px;*/
  }

  .box1 {
    background-color: white;
    position: relative;
    width: 280px;
    /*height: 450px;*/ /*no declarar para que se ajuste al contenido del box1*/
    border-radius: 10px;
    overflow: hidden;
    /*box-shadow: 0 2px 8px rgba(0,0,0,0.1);*/ /* agregar sombra a box1*/
    
    text-align: center;
    /*border-style: solid;*/
  }

  .box2{
    z-index: 10;
  }
  .box2 img {
    width: 100%;
    height: 150px;
    object-fit: cover; /*redimensionar imagen*/
  
    
  }

  .heart {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
    font-size: 20px;
  }
  
  .box3 {
    position: absolute;
    left: 80px;
    margin-top:-65px;   /*superponer imagen*/ 
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); /*agrega sombra a la imagen y no al box que lo contiene*/ 
    

  }

  .box3 img {
    width: 120px;
    height: 120px;
    border-radius: 90px;
    /*border: 0px solid white;*/    
    object-fit: cover; /*redimensionar imagen*/
    

  }

  .box1 h3 {
    margin: 80px 0 5px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
    font-weight: 400; /*define grosor de caracteres*/
  }

  .box1 p {
    padding: 0 20px;
    font-size: 14px;
    color: #333;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }

  .box1 button {
    margin: 15px 0 20px;
    padding: 15px 35px;
    background-color: #00669F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 250;
  }

  /***************************** formulario************************************/
  .radio-group, .checkbox-group{
    margin-top: 10px;
    margin-right: 5%;

  }
  .radio-group label, .checkbox-group label{
    font-weight: normal;
    display: flex;
    align-items:center;
    gap: 10px;
    font-size: 14px;
  }
  .form-contenedor{
    background-color:#00669F ;
    color:#f5f5f5;
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    padding: 30px;
    font-family: "Inter", sans-serif;

  }
/*
  form{
    background-color: #00669F;
    color: #f5f5f5;

  }*/
  .form-row{
    display: flex;
    gap: 30px;
    padding-top: 10px;
    margin-right: 100px;
    padding-bottom: 10px;
    width: 100%;

    
  }
  
  form label{
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;

  }
  form h1,p {
    text-align: center;
    
  }

  form button{
    background-color: #1CD1B0;
  }

  input[type="text"],
  input[type="date"],
  select,
  textarea,
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 3%;

  }
  textarea{
    height: 250px;
    resize: none;
  }
   hr{
    margin: 20px 0;
   }
  form button{
    border: none;
    width: 70%;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 2%;
    font-weight: bold;
    margin-bottom: 2%;
    border-radius: 10px;
    cursor: pointer;
  }
  form button:hover{
    background-color:#1ad2a3; 
  }

  .form-row > div{
    flex: 1; 
  }
  /********************************************/
  footer {
    background-color: #00669F;
    color: white;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  